@charset "UTF-8";
/* スレッドへ飛ぶボタン */
.to_thread {
  position: relative;
  text-align: center;
  /* 中央揃え */
  display: block;
  margin: 0 auto;
  /* 幅の指定 */
  width:700px;
  box-sizing: border-box;
  padding: 10px;
  /* 色の指定 */
  background: linear-gradient(135deg, rgb(255, 255, 128));
  color: #fff;
  font-weight: bold;
  /*border-radius: 8px;*/
  transition: 0.3s;
  border:#222222;
  border-bottom: 2px solid rgb(128, 255, 128);
  background: #222222;
  color: rgb(128, 255, 128);
}
.to_thread:hover {
  background: rgb(128, 255, 128);
  color: #fff;
}
.to_thread:active, .to_thread:focus {
  top: 2px;
}
/* .to_thread{
	height:40px;
	width:300px;
} */
/* 中央ぞろえ */
 .bbs_list{
    text-align:center;
	margin: 0 auto;
	max-width: 1000px;
}
.thread_category{
	margin: 0 auto;
}
/*プルダウンメニュー（以下コピペ）*/

.thread_category {
  position: relative;
  /*Don't really need this just for demo styling*/
  background-color:#222222;
  color:rgb(128, 255, 128);
  border:#222222;
  float: left;
  min-width: 200px;
  /*margin: 50px 33%;*/
}

/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
display: none;
}

.thread_category:after {
  content: '<>';
  font: 17px "Consolas", monospace;
  color:rgb(128, 255, 128);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 11px;
  /*Adjust for position however you want*/

  top: 18px;
  padding: 0 0 2px;
  border-bottom: 1px solid #999;
  /*left line */

  position: absolute;
  pointer-events: none;
}

.thread_category select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */

  display: block;
  width: 100%;
  max-width: 320px;
  height: 50px;
  float: right;
  margin: 5px 0px;
  padding: 0px 24px;
  font-size: 16px;
  line-height: 1.75;
  color: rgb(128, 255, 128);
  background-color: #222222;
  background-image: none;
  border: 1px solid rgb(128, 255, 128);
  -ms-word-break: normal;
  word-break: normal;
}
.selec{
  width: 100px;
  box-sizing: border-box;
  padding: 10px;
   /* 色の指定 */
  background: linear-gradient(135deg, rgb(255, 255, 128));
  color: #fff;
  font-weight: bold;
  /*border-radius: 8px;*/
  transition: 0.3s;
  border: 1px solid rgb(128, 255, 128);
  background: #222222;
  color: rgb(128, 255, 128);
}
.selec:hover {
  background: rgb(128, 255, 128);
  color: #fff;
}
.selec:active, .to_thread:focus {
  top: 2px;
}

.bnts{
 position:relative;
}
.bnts:after{
content:"";
clear:both;
display:block;display:flex;
justify-content:space-between;
}
/* +ボタン丸にする */
.btn{
  display:block;
  width:70px;
  height:70px;
  margin:1em auto;
  line-height:70px;
  background:#222222;
  border-radius:100%;
  border-color:white;
  color:white;
  font-size:80px;
  text-decoration:none;
  float:right;

}
.to_menu{
  width: 100px;
  box-sizing: border-box;
  padding: 10px;
   /* 色の指定 */
  background: linear-gradient(135deg, rgb(255, 255, 128));
  color: #fff;
  font-weight: bold;
  /*border-radius: 8px;*/
  transition: 0.3s;
  border: 1px solid rgb(128, 255, 128);
  background: #222222;
  color: rgb(128, 255, 128);
 float:left;
}
.to_menu:hover {
  background: rgb(128, 255, 128);
  color: #fff;
}
.to_menu:active, .to_menu:focus {
  top: 2px;
}