@charset "UTF-8";

.username {
	text-align: right;
}

/* h2 サブタイトルの位置 */
h2 {
	text-align: center;
}

/* スレッド名の位置やサイズ */
.thread{
	position: relative;
	top: 10px;
	left: 304px;
}

/* コメントの位置やサイズ */
.comment{
	width: 350px;
	height: 30px;
	margin: 0 auto;
}

/* カテゴリーの位置やサイズ */
.category {
	position: relative;
	top: 30px;
	left: 304px;

}

/* 作成ボタンの位置 */
.make{
	position: relative;
	top: 30px;
	left: 620px;
	}

/* エラーメッセージの位置 */
.errormsg {
	position: relative;
	top: 8px;
	left: 350px;
}

/* 一覧に戻るボタンの位置 */
.btn {
	position: relative;
	top: 3px;
	left: 200px;
}

/* ボタンの色(一覧に戻る） */
.btn {
  width: 100px;
  box-sizing: border-box;
  padding: 10px;
   /* 色の指定 */
  background: linear-gradient(135deg, rgb(255, 255, 128));
  color: #fff;
  font-weight: bold;
  /*border-radius: 8px;*/
  transition: 0.3s;
  border: 1px solid rgb(128, 255, 128);
  background: #222222;
  color: rgb(128, 255, 128);
}
.btn :hover {
  background: rgb(128, 255, 128);
  color: #fff;
}
.btn :active, .btn:focus {
  top: 2px;
}

/* 一覧に戻るボタンの位置 */
.btn {
	position: relative;
	top: 7px;
	left: 200px;
}

/* ボタンの色（作成ボタン） */
.make {
  width: 100px;
  box-sizing: border-box;
  padding: 10px;
   /* 色の指定 */
  background: linear-gradient(135deg, rgb(255, 255, 128));
  color: #fff;
  font-weight: bold;
  /*border-radius: 8px;*/
  transition: 0.3s;
  border: 1px solid rgb(128, 255, 128);
  background: #222222;
  color: rgb(128, 255, 128);
}
.make :hover {
  background: rgb(128, 255, 128);
  color: #fff;
}
.make :active, .make:focus {
  top: 2px;
}

