@charset "UTF-8";

 /* マッチングと一覧から選ぶボタンを横並びにする */
.button{
	padding-top: 30px;
  	display: flex;
  	justify-content: space-evenly;
  	text-align: center;
  	padding: auto;
}

.text{
    text-align: center;
	display: flex;
    justify-content: space-evenly;
}

/* ユーザネームを右上に表示 */
/*.username{
	text-align: right;
}
*/

.menu{
	padding-top: 30px;
}

/* サブタイトル(My資格) */
h2{
	text-align: center;
}