@charset "UTF-8";

/* ユーザネーム */
.username{
	font-weight:bold;
	font-size:1em;
}

/* サブタイトル(My資格) */
h2{
	text-align: center;
}

/* マッチングと一覧から選ぶボタンを横並びにする */
.button{
	padding-top: 30px;
  	display: flex;
  	justify-content: space-evenly;
  	text-align: center;
  	padding: auto;

}

/* マッチングと一覧の説明 */
.text{
    text-align: center;
	display: flex;
    justify-content: space-evenly;
}

/* メニューボタン */
.menu{
	padding-top: 30px;
}