@charset "UTF-8";

/* ユーザネーム */
.username{
	font-weight:bold;
	font-size:1em;
	padding-top: 10px;
}

/* サブタイトル(My資格) */
h2{
	text-align: center;
}

/* マッチングと一覧から選ぶボタンを横並びにする */
.a{
	padding-top: 30px;
  	display: flex;
  	justify-content: space-evenly;
  	text-align: center;
  	padding: auto;
}
.button{
	width: 120px;
  	box-sizing: border-box;
  	padding: 10px;
 	/* 色の指定 */
  	background: linear-gradient(135deg, rgb(255, 255, 128));
  	color: #fff;
  	font-weight: bold;
  	/*border-radius: 8px;*/
  	transition: 0.3s;
  	border: 1px solid rgb(128, 255, 128);
  	background: #222222;
  	color: rgb(128, 255, 128);
}
.button:hover {
  background: rgb(128, 255, 128);
  color: #fff;
}
.button:active, .button:focus {
  top: 2px;
}
/* マッチングと一覧の説明 */
.text{
    text-align: center;
	display: flex;
    justify-content: space-evenly;
}

/* メニューボタン */
.top{
	padding-top: 30px;
}

.menu{
	width: 120px;
  	box-sizing: border-box;
 	padding: 10px;
    /* 色の指定 */
  	background: linear-gradient(135deg, rgb(255, 255, 128));
  	color: #fff;
  	font-weight: bold;
  	/*border-radius: 8px;*/
  	transition: 0.3s;
  	border: 1px solid rgb(128, 255, 128);
  	background: #222222;
  	color: rgb(128, 255, 128);
}
.menu:hover {
 background: rgb(128, 255, 128);
  color: #fff;
}
.menu:active, .menu:focus {
  top: 2px;
}

/* 削除ボタン */
.regist_delete{
	box-sizing: border-box;
 	padding: 10px;
    /* 色の指定 */
  	background: linear-gradient(135deg, rgb(255, 255, 128));
  	color: #fff;
  	font-weight: bold;
  	/*border-radius: 8px;*/
  	transition: 0.3s;
  	border: 1px solid rgb(128, 255, 128);
  	background: #222222;
  	color: rgb(128, 255, 128);
}

.regist_delete:hover {
 background: rgb(128, 255, 128);
  color: #fff;
}
.regist_delete:active, .regist_delete:focus {
  top: 2px;
}