@charset "UTF-8";

.wrapper{
	margin:0 auto 0 auto;
	max-width:960px;
	width: 100%;
  	position: relative;

}
.newregist_button{
	/*display: block;*/
    text-align:right;
}
table {
	margin:auto;
	text-align:center;
	font-weight:bold;

  }
  .login{

	display: block;
	margin:auto;
}
.errormsg{
	text-align:center;
	color:red;
}
.box{
	text-align:center;
}