@charset "UTF-8";



.logo {
	margin: 50px 0 40px 0;
	line-height: 0;
	text-align: center;
	font-weight: bold;
}

/* フッター部分 */
.footer {
	font-size: 12px;
	font-weight: bold;
	position: absolute;
	right:350px;
	top: 600px;
}

/* ログインしているユーザネームの位置 */
.username {
	text-align: right;
}


/* サブタイトル(メニュー) */
h2 {
	text-align: center;
}

/* 本日の目標の位置 */
h3 {
	text-align: left;
}
.data {
	text-align: left;
}

/* 残り日数の表示位置 */
.target {
	position: relative;
	bottom: 200px;
	text-align: right;
}



/*ハンバーガーメニュー(元）*/
/*
.menu{
  transform: translateX(-40vw);
  transition: all .3s linear;
}

/* アニメーション後のメニューの状態 */
/*.menu.is-active{
  transform: translateX(0);
}
*/

/* ハンバーガーメニュー追記ここから 竹田 */
/*----------------------------
* メニュー開閉ボタン
*----------------------------*/
button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: transparent;
	border: 0;
	border-radius: 0;
	color: inherit;
	cursor: pointer;
	font: inherit;
	margin: 0;
	outline: none;
	padding: 0;
	vertical-align: middle;
}
.menu-btn{
  position: fixed;
  top: 70px;
  left: 360px;
  z-index: 10; /* 不明 */
  width: 50px; /* 箱の幅 */
  height: 50px; /* 箱の縦幅 */

  border-radius: 0px; /* 箱の丸み？ */
  display: inline-block;
  box-sizing:border-box;

  justify-content: center;
  align-items: center;
  background: a9a9a9; /* メニューの箱の色？ */
  color: red; /* ここは何についての色なのか不明 */
}
.bar{
  width: 20px;
  height: 1px;
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
}
.bar_top{
  top: 10px;
}
.bar_mid{
  top: 50%;
  transform: translate(-50%,-50%);
}
.bar_bottom{
  bottom: 10px;
}

/*----------------------------
* メニュー本体
*----------------------------*/
 .menu{
  position: fixed;
  top: 0; /* 不明 */
  left: 0; /* ハンバーガーを押した際に表示される幅*/
  z-index: 2; /* 不明 */
  width: 20vw;
  height: 100vh;
  display: flex;
  flex-direction: column; /* メニュー一覧の表示方向 縦で指定 */
  align-items: center;
  justify-content: center;
  background: #dcdcdc; /* とりあえずわかりやすい色にしておく */
}

.menu__item{ /* メニュー一覧のボタン？について？ */
  width: 100%;
  height: auto;
  padding: .5em 1em;
  text-align: center;
  color: black;
  box-sizing: border-box;
}

/*----------------------------
* アニメーション部分
*----------------------------*/

/* アニメーション前のメニューの状態 */
.menu{
  transform: translateX(-50vw);
  transition: all .5s linear;
  /* all:対象  3s:変化の終始速度 linear:始終まで一定に変化 */
}
/* アニメーション後のメニューの状態 */
.menu.is-active{
   transform: translateX(0px); /* 横軸への移動 */
}

/* ハンバーガーメニュー追記ここまで */

/*カレンダー*/
/* 年月の位置 */
#calendar {
	position: absolute;
	right:360px;
	top: 300px;
	z-index:30;
}

#prev{
	position: absolute;
	right:460px;
	top: 310px;
	z-index:50;

}
#next{
	position: absolute;
	right:400px;
	top: 310px;
	z-index:55;
}
/* カレンダーのボタンデザイン */
.button button {
  display: flex;
  justify-content: space-between;
  align-items: right;
  margin: 0 auto;
  padding: 1em 2em;
  width: 100px;
  color: #333;
  font-size: 10px;
  font-weight: 700;
  background-color: #cccccc;
  border-radius: 50vh;
}

.button button::after {
  content: '';
  width: 5px;
  height: 5px;
  border-top: 3px solid #333333;
  border-right: 3px solid #333333;
  transform: rotate(45deg);
}

.button button:hover {
  text-decoration: none;
  background-color: #bbbbbb;
}

/* ボタンの位置 */
table#button th,table#button td{
	position: fixed;
	right: 300px;

}


/* 周りとの間隔 */
section {
	margin: 10px;
}

/* 年月のサイズ？ */
h1 {
	font-size: 18px;
}

.table_calendar {
	border-spacing: 0;
	border-collapse: collapse;
}

/* カレンダーの箱の色とか？ */
td {
	border: 1px solid #ddd;
	padding: 5px;
	text-align: center;
}

/* 日曜日の色？ */
td:first-child {
	color: red;
}

/* 土曜日の色 */
td:last-child {
	color: skyblue;
}
/* その他の数字の色 */
td.is-disabled {
	color: #ccc;
}

/* 日曜日の色? */
td#check {
	background-color: red;
}
/* カレンダーここまで */