@charset "UTF-8";

/*「資格名」「おすすめ参考書」の文字
	中央揃え・太字*/
h3{
	text-align:center;
	font-weight:bold;
}

/*試験日程を表示するテーブル自体の設定*/
.list {
	margin: auto;
	text-align: center;
}

/*テーブルのデータ列の設定(登録ボタンを除く)*/
td.day_row{
	border-bottom-width: 3px;
	border-bottom-style: dotted;
	border-bottom-color: black;
	padding: 4px 16px 4px 0;
	white-space: nowrap; /* 折り返さない */

}

/*ホバー時、データ列の色を変える*/
tr.day_row:hover {
	background-color: #b0c4de;
}

/*試験日程の文字(2022/10/01)
	普通の太さに・上下のスペースをつぶした*/
h3.testday{
	margin-top:0;
	margin-bottom:0;
	font-weight:normal;
}

/*参考書のアマゾンリンクの色
	VSCodeの青系統っぽく*/
a:link {
	color: #80ffff;
}
a:visited {
	color: #80ffff;
}
a:hover {
	color: #0000ff;
}
a:active {
	color: #00ffff;
}

/*参考書画像の大きさ*/
.book_image img{
	margin-left: 150px;
	height: 250px;
}

/*参考書名と画像を横並び*/
.book_item {
	display: flex;
	padding: 20px 8px;
}

/*画像と名前を近づけて表示*/
div.book_image {
	text-align:right;
	margin: auto;
	margin-right: 0;
	padding:0;
}

/*おすすめ参考書名
	普通の太さにした*/
h3.book_name{
	text-align:center;
	font-weight:normal;
}