@charset "UTF-8";

.wrapper{
	margin:0 auto 0 auto;
	max-width:960px;
	width: 100%;
  	position: relative;

}
table {
  /*display: flex;
  justify-content: center;
	padding:20,0px;
	margin:40.0px;*/
	margin:auto;
	text-align:center;
	font-weight:bold;

}
h2{
	text-align:center;
	font-weight:bold;
}
